body{
  background-color: rgba(241, 241, 241, 1);
}

ul{
  list-style-position: inside;
}

.title{
    width: 100%;
    height: 50px;
    background-color: rgba(27, 127, 204, 0.8);
    color: white;
    text-align: center;
    margin-top: 0;
}

.contents{
    display: grid;
    grid-template-columns: 70% 27%;
    grid-template-rows: 200px 200px 250px 250px 200px 200px;
    column-gap: 3%;
    row-gap: 20px;
    padding-bottom: 50px;
  }
  
  
  .ad-top{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    text-align: center;
  }

  .main{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  .child-profile{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  .ad-side{
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    text-align: center;
  }

  .ad-space{
    text-align: center;
    width: 100%;
  }

  .ad-bottom{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: middle;
  }

    .ad{
      padding-top: 5px;
    }

.child-container{
  width: 95%;
  margin: 0 auto;
}

  .child-profile-title{
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  }

  .child-profile-img{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .child-profile-name, .child-profile-status{
    margin: 0;
    text-align: center;
  }

/*css for blog maps*/
  .main-container{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 200px 200px 200px 200px;
    column-gap: 10%;
    row-gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .blog{
    text-align: center;
  }

  .html-base{
    background-image: url('../img/myBlog_top_programming3.jpg');
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

    .blog-subtitle{
      margin: 10px 0 0 0;
      padding: 0 10px;
      background-color: white;
      color: rgb(58, 57, 57);
      display: inline-block;
      font-weight: bold;
    }

    .blog-title{
      margin: 15px 0;
      color: white;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
    }

/*css for the main contents of blogs*/

.main{
  color: rgb(70, 70, 70);
}

  .date{
    margin: 0;
  }

  .main-img{
    width: 780px;
    text-align: center;
  }

    .main-img img{
      width: 700px;
      height: auto;
    }

/*css for conversation*/

  .main-start-explanation{
    width: 100%;
    height: 70px;
    margin: 30px 0 70px 0;
  }

    .face-icon{
      height: 70px;
      width: 70px;
      float: left;
    }

      .face-icon img{
        border-radius: 50%;
        height: 70px;
        width: 70px;
      }

      .chat{
        float: left;
        margin-left: 50px;
        position:relative;
        width:550px;
        height:50px;
        background:#FFFFFF;
        padding:20px;
        text-align:left;
        border:3px solid #464646;
        color:#333333;
        font-size:14px;
        font-weight:bold;
        border-radius:7px;
        -webkit-border-radius:7px;
        -moz-border-radius:7px;
    }
    .chat:after,.chat:before{
        border: solid transparent;
        content:'';
        height:0;
        width:0;
        pointer-events:none;
        position:absolute;
        right:100%;
        top:27%;
    }
    .chat:after{
        border-color: rgba(255, 255, 255, 0);
        border-top-width:10px;
        border-bottom-width:10px;
        border-left-width:30px;
        border-right-width:30px;
        margin-top: -10px;
        border-right-color:#FFFFFF;
    }
    .chat:before{
        border-color: rgba(70, 70, 70, 0);
        border-top-width:13px;
        border-bottom-width:13px;
        border-left-width:39px;
        border-right-width:39px;
        margin-top: -13px;
        margin-right: 3px;
        border-right-color:#464646;
    }

 /*css for achivements*/   

    .achievements{
      height: 200px;
      width: 100%;
      margin-top: 15px;
      background-color: rgba(113, 177, 226, 0.3);
      box-shadow: 0px 0px 10px rgba(0,0,0,0.2)
    }

      .achievements-title{
        padding: 10px 0;
      }

/*css for index*/

  .index{
    width: 80%;
    height: 280px;
    margin: 20px auto;
    background-color: rgba(198, 216, 230, 0.3);
    border: 3px solid rgba(198, 216, 230, 0.8);
  }

    .index-container{
      width: 80%;
      margin: 0 auto;
    }

      .index-title{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 3px;
      }

      .index-subcontent{
        padding: 3px 0;
        font-weight: bold;
        letter-spacing: 2px;
      }

/*css for subcontents*/

  .subcontents-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(113, 177, 226, 0.3);
    padding-left: 10px;
    letter-spacing: 3px;
    border-top: 3px solid rgba(113, 177, 226, 0.8);
    border-bottom: 3px solid rgba(113, 177, 226, 0.8);
  }

    .subcontents-subtitle{
      width: 100%;
      height: 35px;
      line-height: 35px;
      padding-left: 10px;
      letter-spacing: 3px;
      border-bottom: 3px solid rgba(113, 177, 226, 0.8);
    }
        

