body{
  background-color: rgba(241, 241, 241, 1);
}

ul{
  list-style-position: inside;
}

.title{
    width: 100%;
    height: 50px;
    background-color: rgb(27, 127, 204, 0.8);
    color: white;
    text-align: center;
    margin-top: 0;
}

.contents{
    display: grid;
    grid-template-columns: 70% 27%;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    column-gap: 3%;
    row-gap: 20px;
    padding-bottom: 50px;
  }
  
  
  .ad-top{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  .main{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  .child-profile{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  .ad-side1{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  .ad-side2{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

  .ad-bottom{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }

.child-container{
  width: 95%;
  margin: 0 auto;
}

  .main-container{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 200px 200px 200px 200px;
    column-gap: 10%;
    row-gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .blog{
    text-align: center;
  }

  .html-base{
    background-image: url('../img/myBlog_top_programming3.jpg');
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

    .blog-subtitle{
      margin: 10px 0 0 0;
      padding: 0 10px;
      background-color: white;
      color: rgb(58, 57, 57);
      display: inline-block;
      font-weight: bold;
    }

    .blog-title{
      margin: 15px 0;
      color: white;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
    }

  .child-profile-title{
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  }

  .child-profile-img{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .child-profile-name, .child-profile-status{
    margin: 0;
    text-align: center;
  }
