body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }

  .container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  header{
    width: 100%;
    height: 130px;
    color: gray;
  }

    .header-logo-snsIcons{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
    }

      .header-logo-img{
        width: 300px;
        height: 100px;
      }

      .header-snsIcons{
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: flex-end;
      }

        .header-snsIcons .fa-brands, .fa-solid{
          font-size: 30px;
          padding: 10px 5px;
        }

    .header-options{
      display: flex;
      justify-content: space-between;
    }
  
  .top-slide{
  width: 100%;
  }

    .slide{
      height: 600px;
    }

.profile{
  height: 600px;
  width: 100%;
}

  .profile h2{
    text-align: center;
    color: gray;
  }

  .profile-parent{
    display: flex;
    gap: 150px;
  }

    .profile-photo{
      background-image: url("../img/me.PNG");
      height: 500px;
      width: 500px;
      border-radius: 50%;
      background-position: center center;
    }

footer{
  height: 100px;
  width: 100%;
  background-color: rgb(71, 70, 70);
}

    .footer-options{
      padding-top: 10px;
      border-bottom: solid 1px white;
      text-align: center;
    }

      .footer-option{
        padding: 0 5px;
      }

    footer p{
      text-align: center;
    }
    

  

