.contents{
    display: grid;
    grid-template-columns: 70% 27%;
    grid-template-rows: 200px 200px 200px 200px 7000px 200px;
    column-gap: 3%;
    row-gap: 20px;
    padding-bottom: 50px;
  }

  .metaTag-description-img{
    width: 100%;
    height: 130px;
  }

  .linkTag-description-img{
    height: 50px;
  }

  .head-description-img{
    height: 200px;
  }