
.profile{
    height: 600px;
    width: 100%;
  }
  
    h2{
      text-align: center;
      color: gray;
    }
  
    .profile-parent{
      display: flex;
      gap: 150px;
    }
  
      .profile-photo{
        background-image: url("../img/me.PNG");
        height: 500px;
        width: 500px;
        border-radius: 50%;
        background-position: center center;
      }
  
      .profile-descripton h3{
        color: rgb(70, 70, 70);
      }
  
      .profile-descripton p{
        color: gray;
        padding: 10px 0;
      }

.recent-blogs{
    height: 300px;
    width: 100%;
}

    .recent-blog{
        background-color: rgba(97, 172, 230, 0.8);
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        margin-bottom: 5px;
    }

    .recent-blog a:link, a:visited, a:hover, a:active{
        color: white;
    }