.recent-blogs{
    height: 350px;
    width: 100%;
    text-align: center;
    color: gray;
}

    .recent-blog{
        background-color: rgba(97, 172, 230, 0.8);
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        margin-bottom: 5px;
        text-align: left;
    }

    .recent-blog a:link, a:visited, a:hover, a:active{
        color: white;
    } 

    @media screen and (max-width: 960px) {
        /* 960px以下に適用されるCSS（タブレット用） */
    }

    @media screen and (max-width: 560px) {
        /* 560px以下に適用されるCSS（スマホ用） */
        .top-slides{
            display: none;
        }
        .recent-blogs{
            height: 600px;
            width: 100%;
            text-align: center;
            color: gray;
        }
        
            .recent-blog{
                background-color: rgba(97, 172, 230, 0.8);
                box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
                margin-bottom: 5px;
                text-align: left;
            }
    }