.ubuntuScrollChrome{
    background-image: url('../img/main1.png');
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

.ubuntuInstall{
    background-image: url('../img/main1.png');
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

.ubuntuPassword{
    background-image: url('../img/main1.png');
    background-size: cover;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

.ubuntuInstallandSetting{
  background-image: url('../img/main1.png');
  background-size: cover;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.ubuntuBrightness-en{
  background-image: url('../img/main1.png');
  background-size: cover;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}