.html-base{
    background-image: url('../img/main1.png');
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

.html-base{
    background-image: url('../img/main1.png');
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

.html-base{
    background-image: url('../img/main1.png');
    background-size: cover;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }