body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
    padding-top: 130px;
  }
  
  a {
    text-decoration: none;
  }

  ul{
    margin: 0 auto;
    padding: 0;
  }

  .container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  header{
    width: 100%;
    height: 130px;
    color: gray;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: white;
  }

    .removed-options{
      display: none !important;
    }

    .shrinked-header{
      height: 30px;
      background-color: rgb(255, 255, 255, 0.8);
    }

    .header-logo-snsIcons{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
    }

      .header-logo-img{
        width: 300px;
        height: 100px;
      }

      .header-snsIcons{
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        color: rgb(70, 70, 70);
      }
      
      .header-snsIcons a:link, .header-snsIcons a:visited, .header-snsIcons a:hover, .header-snsIcons a:active{
        color: rgb(70, 70, 70);
      }

        .header-snsIcons .fa-brands, .fa-solid{
          font-size: 30px;
          padding: 10px 5px;
        }

    .header-options{
      display: flex;
      justify-content: space-between;
      height: 30px;
      width: 100%;
      text-align: center;
      list-style-type: none;
    }

      .header-options a:link, .header-options a:visited, .header-options a:hover, .header-options a:active {
        color: gray;
      }

      .header-option{
        width: 100px;
      }

      .header-option-parent{
        position: relative;
      }

      .header-dropdown-menu{
        position: absolute;
        top: 30px;
        background-color: rgb(255, 255, 255, 0.8);
        width: 100%;
        margin: auto 0;
        display: none;
        text-align: center;
        list-style-type: none;
      }
          
      .header-dropdown-menu li{
        width: 100%;
      }

      .header-dropdown-menu-option{
        padding: 5px 0;
        display: block;
        color: gray; 
      }

footer{
  height: 100px;
  width: 100%;
  background-color: rgb(70, 70, 70);
}

    .footer-options{
      padding-top: 10px;
      border-bottom: solid 1px white;
      text-align: center;
    }

      .footer-option{
        padding: 0 5px;
      }

      .footer-option:link, .footer-option:visited, .footer-option:hover, .footer-option:active {
        color: black;
      }

    footer p{
      text-align: center;
    }


  

