.contents{
    display: grid;
    grid-template-columns: 70% 27%;
    grid-template-rows: 200px 200px 250px 0px 0px 200px;
    column-gap: 3%;
    row-gap: 20px;
    padding-bottom: 50px;
  }
  
  @media screen and (max-width: 1024px) {
  
  }
  @media screen and (max-width: 960px) {
    /* 960px以下に適用されるCSS（タブレット用） */
  
  }
  @media screen and (max-width: 560px) {
    /* 560px以下に適用されるCSS（スマホ用） */   
    
    .contents{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 10px;
      column-gap: 3%;
      row-gap: 20px;
      padding-bottom: 50px;
    }
    
  
  }