@media screen and (max-width: 1024px) {
    
  }
  @media screen and (max-width: 960px) {
    /* 960px以下に適用されるCSS（タブレット用） */
    .container{
      width: 100%;
      padding-right: 3px;
      padding-left: 3px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media screen and (max-width: 560px) {
    /* 560px以下に適用されるCSS（スマホ用） */   
    .container{
      width: 100%;
      padding-right: 2px;
      padding-left: 2px;
      margin-right: auto;
      margin-left: auto;
    }

    .header-options{
      font-size: 11px;
    }
    .header{
      height: 130px;
    }
    .header-logo-img{
      width: 220px;
      height: 70px;
    }   
  }